@import './base.css';

html,
body {
  margin: 0;
  height: 100%;
  color: #cbd6e2;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    'Segoe UI',
    sans-serif;
  user-select: none;
  overflow: hidden;
  background: #0a0e14;
}

#app {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
